PORT=5003
NODE_ENV=development

# Docker Deployment
APP_URL=http://localhost:8080
MONGODB_URI=mongodb://mongodb:27017/salon_booking_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
REDIS_URL=redis://redis:6379
SALON_SERVICE_URL=http://salon-service:5002

# Local Development
# APP_URL=http://localhost:5173
# MONGODB_URI=mongodb://localhost:27017/salon_booking_db
# RABBITMQ_URL=amqp://guest:guest@localhost:5672
# REDIS_URL=redis://localhost:6379
# SALON_SERVICE_URL=http://localhost:5002
